@import url('https://fonts.googleapis.com/css2?family=Anton&family=Asap&family=Black+Han+Sans&family=Faster+One&family=Inter&family=Lexend+Deca:wght@600&family=Manrope&family=Nosifer&family=Orienta&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,900&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

#genel{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: 60px solid transparent;
    border-image: url("https://neal.fun/auction-game/border-frame.png");
    border-image-slice: 33.33%;
    overflow: hidden;
}

.icerik{
    width: 100%;
    height: 100%;
}

.icerik .ust{
    padding: 5px;
}

.genel_h2{
    font-size: 20px;
    color: #000000;
    transition: all .6s ease-in-out;
}
    
.genel_h2 span{
    font-size: 20px;
    color: #b36cd2;
    font-weight: bold;
}

.acilis{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin-top: -90px;
    transition: 2s;
    display: none;
}

.acilis.kaybol{
    transform: translateX(100%);
}

.acilis h2{
    font-size: 30px;
}

.acilis a{
    text-decoration: none;
    background-color: #000000;
    font-size: 20px;
    padding: 10px 50px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: 2s;
}

.acilis a:hover{
    transform: scale(1.1);
}

.main{
    /* display: none; */
}

.main.active{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: -40px;
}

.main section{
    width: 100%;
}

.main section .kart{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.kart .sol{
    text-align: center;
    /* margin-right: 90px; */
}

.kart .tarih{
    font-size: 20px;
    margin-bottom: 10px;
}

img{
    width: 290px;
    border-radius: 5px;
}

.kart .kartlar{
    display: flex;
    justify-content: space-around;
    max-width: 420px;
}

.kartlar .onemliKonu{
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
}

.kartlar .onemliKonu h1{
    font-size: 20px;
}

.kartlar .onemliKonu h2{
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
}

.onemliKonu p{
    text-align: left;
    margin-top: 4px;
    font-weight: 500;
    font-size: 15px;
}

.kisiler{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    width: 350px;
    text-align: center;
}

.kisiler h2{
    font-size: 18px;
    padding: 5px 0;
}

.kisiler span{
    display: block;
    margin: 10px 5px;
    font-weight: 600;
}

.yeniBtn{
    text-decoration: none;
    background-color: #000000;
    font-size: 20px;
    padding: 10px 50px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -40px;
    margin-top: 20px;
}

@media(max-width: 900px){
    html,body{
        overflow-x: hidden;
    }

    #genel{
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    border: 20px solid transparent;
    border-image: url("https://neal.fun/auction-game/border-frame.png");
    border-image-slice: 33.33%;
    /* overflow: hidden; */
    }

    #genel .icerik{
        display: flex;
        flex-direction: column;
    }

    .main.active{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        margin-top: 1px;
        margin-bottom: 40px;
    }

    .main section .kart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
    }

    .kartlar .onemliKonu{
        margin-top: 20px;
        width: 95%;
    }

    .kisiler{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        padding: 10px;
        margin-top: 20px;
        width: 95%;
    }

    .yeniBtn{
        margin: 0;
    }

    .kaybolH2{
        text-align: center;
        margin-bottom: 10px;
    }
}
